In [2]:
# import the correct library for using the join
import pandas as pd
import numpy as np

In [3]:
facility_crm = pd.read_excel('case_study.xlsx', sheet_name='facility_crm')
crm = pd.read_excel('case_study.xlsx', sheet_name='CRM')
facility = pd.read_excel('case_study.xlsx', sheet_name='facility')

##### Question for easy to read. 

For each position_dt in **facility** find the **percentage** of **original_account_id** & **position_dt** where **valuation_dt** in CRM is 3 years older than **position_dt**.    

hint: join facility with facility crm on original_account_id and keep the relevant attributes. Join the resulted table with crm on position_dt and cover_id and keep the relevant attributes.

In [4]:
# Check the collumn of facility_crm to easy to see the collum inside the notebook without looking to excel
facility_crm.columns.values.tolist()

['position_dt', 'original_account_id', 'cover_id']

In [5]:
# Check the collumn of crm to easy to see the collum inside the notebook without looking to excel
crm.columns.values.tolist()

['position_dt', 'cover_id', 'valuation_dt', 'col_1', 'col_2', 'col_3']

In [6]:
# Check the collumn of crm to easy to see the collum inside the notebook without looking to excel
facility.columns.values.tolist()

['position_dt',
 'original_account_id',
 'col_1',
 'col_2',
 'col3',
 'col4',
 'col5',
 'col6',
 'col7']

In [7]:
# reason to join according to what i understand from the hind is using orginial_account_id. However some situation we can join two same collumn with datetime. 
first_df_merge = facility_crm.merge(facility, on=['original_account_id','position_dt'])
# for this solution i would choose join only original_account_id, and keep other collumns.
# first solution to join. ( direct from table to table )
second_df_merge = pd.merge(facility_crm, facility,  how="left", on=['original_account_id'])
# first solution to join. ( pandas join two table, we can also added function left_join, how="right", depend on purpose)

In [8]:
first_df_merge

,position_dt,original_account_id,cover_id,col_1,col_2,col3,col4,col5,col6,col7
0,2020-01-31,10001,A100,a,11,11,11,11,11,11
1,2020-01-31,10001,B100,a,11,11,11,11,11,11
2,2020-02-28,10001,A100,a,11,11,11,11,11,11
3,2020-03-31,10001,A100,a,11,11,11,11,11,11
4,2020-04-30,10001,A100,a,11,11,11,11,11,11
5,2020-05-31,10001,A100,a,11,11,0,11,11,11
6,2020-06-30,10001,A100,a,0,11,11,11,11,11
7,2020-07-31,10001,A100,a,11,11,11,11,11,11
8,2020-08-31,10001,A100,a,11,11,11,11,11,11
9,2020-09-30,10001,A100,a,11,11,11,11,11,11
10,2020-10-31,10001,A100,a,11,11,11,11,11,11
11,2020-11-30,10001,A100,a,11,11,11,11,11,11
12,2020-12-31,10001,A100,a,11,11,0,11,11,11
13,2020-01-31,10002,A102,a,11,11,11,11,11,11
14,2020-02-28,10002,A102,a,11,11,11,11,11,0
15,2020-03-31,10002,A102,a,11,11,11,11,11,11
16,2020-04-30,10002,A102,a,11,11,11,11,11,11
17,2020-05-31,10002,A102,a,11,11,11,11,11,11
18,2020-06-30,10002,A102,a,11,11,11,11,11,11
19,2020-07-31,10002,A102,a,11,11,0,11,11,11
20,2020-08-31,10002,A102,a,11,11,11,11,11,11
21,2020-09-30,10002,A102,a,11,11,11,11,11,11
22,2020-10-31,10002,A102,a,11,11,11,11,11,11
23,2020-11-30,10002,A102,a,11,11,11,11,11,11
24,2020-12-31,10002,A102,a,11,11,11,11,11,11
25,2020-01-31,10003,C1002,a,11,11,11,11,11,11
26,2020-02-28,10003,C1002,a,11,11,11,11,11,11
27,2020-03-31,10003,C1002,a,11,11,11,11,11,11
28,2020-04-30,10003,C1002,a,11,11,11,11,11,11
29,2020-05-31,10003,C1002,a,11,11,11,11,11,11
30,2020-06-30,10003,C1002,a,11,11,11,11,11,11
31,2020-07-31,10003,C1002,a,11,11,11,11,11,11
32,2020-08-31,10003,C1002,a,11,11,11,11,11,11
33,2020-09-30,10003,C1002,a,11,11,11,11,11,11
34,2020-10-31,10003,C1002,a,11,11,11,11,11,11
35,2020-11-30,10003,C1002,a,11,11,11,11,11,11
36,2020-12-31,10003,C1002,a,11,11,11,11,11,11

In [9]:
lastjoindf = pd.merge(first_df_merge,crm, on=['cover_id', 'position_dt'])
# join both collumns on two key cover_id, position_id

In [10]:
lastjoindf['diff_years'] = (lastjoindf['position_dt'] - lastjoindf['valuation_dt']) / np.timedelta64(1, 'Y')
lastjoindf['diff_years'] = round(lastjoindf['diff_years'])
## calculate the different year between position_df and valuation_dt to find out if valuation_dt is older than position_df 3 years.

In [11]:
lastjoindf

,position_dt,original_account_id,cover_id,col_1_x,col_2_x,col3,col4,col5,col6,col7,valuation_dt,col_1_y,col_2_y,col_3,diff_years
0,2020-01-31,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
1,2020-01-31,10001,B100,a,11,11,11,11,11,11,2010-06-30,0,1,0,10.0
2,2020-02-28,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
3,2020-03-31,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
4,2020-04-30,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
5,2020-05-31,10001,A100,a,11,11,0,11,11,11,2010-06-30,0,0,0,10.0
6,2020-06-30,10001,A100,a,0,11,11,11,11,11,2010-06-30,0,0,0,10.0
7,2020-07-31,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
8,2020-08-31,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
9,2020-09-30,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
10,2020-10-31,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
11,2020-11-30,10001,A100,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
12,2020-12-31,10001,A100,a,11,11,0,11,11,11,2020-12-10,0,0,0,0.0
13,2020-01-31,10002,A102,a,11,11,11,11,11,11,2010-06-30,0,0,0,10.0
14,2020-02-28,10002,A102,a,11,11,11,11,11,0,2020-02-10,0,0,0,0.0
15,2020-03-31,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,0.0
16,2020-04-30,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,0.0
17,2020-05-31,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,0.0
18,2020-06-30,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,0.0
19,2020-07-31,10002,A102,a,11,11,0,11,11,11,2020-02-10,0,0,0,0.0
20,2020-08-31,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,1.0
21,2020-09-30,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,1.0
22,2020-10-31,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,1.0
23,2020-11-30,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,1.0
24,2020-12-31,10002,A102,a,11,11,11,11,11,11,2020-02-10,0,0,0,1.0
25,2020-01-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,1.0
26,2020-02-28,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,1,1.0
27,2020-03-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,1.0
28,2020-04-30,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,1.0
29,2020-05-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,1.0
30,2020-06-30,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,1.0
31,2020-07-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,1,0,2.0
32,2020-08-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,2.0
33,2020-09-30,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,2.0
34,2020-10-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,2.0
35,2020-11-30,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,0,2.0
36,2020-12-31,10003,C1002,a,11,11,11,11,11,11,2018-12-31,0,0,1,2.0

For each position_dt in facility find the percentage of original_account_id & position_dt where valuation_dt in CRM is 3 years older than position_dt. 
According to what i observed from the question is pairs of both collumn original_account & position_dt collumn. So i made the next script to calculate the number of value of both collumns. ( it might have another way of understanding the question )

In [26]:
count = lastjoindf.groupby(["original_account_id", "position_dt"]).size().reset_index(name="count")
count = count.shape[0]
# Print the result
print("Number of unique original_account_id & position_dt pairs:", count)

Number of unique original_account_id & position_dt pairs: 36

In [27]:
count_diff = lastjoindf[lastjoindf["diff_years"] > 3].groupby(["original_account_id","position_dt"]).size().reset_index(name="count")
count_diff = count_diff.shape[0]
print("Number of original_account_id & position_dt pairs which valuation_dt is older than position_dt 3 year:", count_diff)

Number of original_account_id & position_dt pairs which valuation_dt is older than position_dt 3 year: 12

In [33]:
print("Percentage of original_account_id & position_dt pairs which valuation_dt is older than position_dt 3 year :", round((count_diff/count)*100),  '%%')

Percentage of original_account_id & position_dt pairs which valuation_dt is older than position_dt 3 year : 33 %%